altgraph==0.17.5
blinker==1.9.0
CacheControl==0.14.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.5
firebase-admin==6.5.0
Flask==3.0.3
google-api-core==2.30.0
google-api-python-client==2.192.0
google-auth-httplib2==0.3.0
google-auth==2.48.0
google-cloud-core==2.5.0
google-cloud-firestore==2.23.0
google-cloud-storage==3.9.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio-status==1.78.0
grpcio==1.78.0
httplib2==0.31.2
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
msgpack==1.1.2
packaging==26.0
pefile==2024.8.26
pillow==12.1.0
proto-plus==1.27.1
protobuf==6.33.5
pyasn1_modules==0.4.2
pyasn1==0.6.2
pycparser==3.0
pyinstaller-hooks-contrib==2026.0
pyinstaller==6.19.0
PyJWT==2.11.0
pyparsing==3.3.2
pywin32-ctypes==0.2.3
reportlab==4.0.7
requests==2.31.0
rsa==4.9.1
setuptools==80.10.1
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
Werkzeug==3.1.6
wheel==0.46.3
